body{
    background-image: url("../img/login_bg.png");
}

.main{
    background-color: rgba(200,200,200,0.5);
    width:100%;
    height:100%;
}

.panel-form{
    margin-top:20%;
}

.panel-form .panel-heading{
    color: #aaa;
    border-bottom: 1px solid #eee;
}